section {
}
h1 {
}
h2 {
  font-size: 40px;
}
ul {
}
li {
  list-style: none;
}
.card {
  padding: 60px 0px;
  margin: 10px;
  display: inline-block;
  background: rgb(52, 101, 134);
  width: 100%;
}
.card-main {
  border-radius: 0;
  padding: 50px 10px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.card-small {
  font-size: 80px;
}

@media (max-width: 700px) {
  .card-total {
    font-size: 70px;
  }
  .card {
    width: 100%;
    height: 290px;
    margin-right: 0;
    float: none;
  }
  .card-inner {
    height: 290px;
  }
}
